Source: ruby-smart-proxy-dns-route53
Section: ruby
Priority: optional
Maintainer: Foreman <foreman-dev@googlegroups.com>
Build-Depends: debhelper,
               gem2deb
Standards-Version: 3.9.5
Homepage: https://github.com/theforeman/smart_proxy_dns_route53
XS-Ruby-Versions: all

Package: ruby-smart-proxy-dns-route53
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: foreman-proxy (>= 1.1.13~rc1),
         ruby | ruby-interpreter,
         ruby-route53,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Route53 DNS provider plugin for Foreman's smart proxy
 Route53 DNS provider plugin for Foreman's smart proxy
