Source: ruby-rubyipmi
Section: ruby
Priority: optional
Maintainer: Michael Moll <mmoll@moll.at>
Build-Depends: debhelper, gem2deb
Standards-Version: 3.9.4
Homepage: http://github.com/logicminds/rubyipmi
XS-Ruby-Versions: all

Package: ruby-rubyipmi
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter
Description: A ruby wrapper for ipmi command line tools that supports ipmitool and freeipmi
 A ruby wrapper for ipmi command line tools that supports ipmitool and freeipmi
