Source: ruby-smart-proxy-dhcp-dnsmasq
Section: ruby
Priority: optional
Maintainer: Foreman developers <foreman-dev@googlegroups.com>
Build-Depends: debhelper, gem2deb
Standards-Version: 3.9.8
Homepage: https://github.com/theforeman/smart_proxy_dhcp_dnsmasq
XS-Ruby-Versions: all

Package: ruby-smart-proxy-dhcp-dnsmasq
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, foreman-proxy (>= 1.17.0~rc1), ruby-rb-inotify
Description: Smart-Proxy dhcp module provider for dnsmasq
 Smart-Proxy dhcp module provider for dnsmasq
