#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk

# Uncomment this to turn on verbose mode.
# DEB_VERBOSE_ALL=1
# DH_VERBOSE=1

build:
	/bin/cp config/settings.yaml.example config/settings.yaml
	/bin/cp config/database.yml.example config/database.yml
	/bin/cp debian/debian.rb bundler.d/
	/usr/bin/bundle package
	/bin/rm -rf node_modules
	/usr/bin/npm install --no-optional --unsafe-perm
	/usr/bin/bundle exec rake locale:pack assets:precompile RAILS_ENV=production
	/usr/bin/bundle exec rake webpack:compile
	/usr/bin/bundle exec rake db:migrate --trace RAILS_ENV=production
	# we need to allow taxonomies so apipie cache renders documentation with them
	/bin/sed -i 's/:locations_enabled: false/:locations_enabled: true/' config/settings.yaml
	/bin/sed -i 's/:organizations_enabled: false/:organizations_enabled: true/' config/settings.yaml
	/usr/bin/bundle exec rake apipie:cache cache_part=resources --trace RAILS_ENV=production
	/bin/rm db/production.sqlite3
	/bin/sed -ri '1sXenv rubyXenv foreman-rubyX' bin/*
	/bin/sed -ri 's~^BUNDLER_CMD=""~BUNDLER_CMD="/usr/bin/foreman-ruby /usr/bin/bundle exec"~' script/foreman-rake
	/bin/mkdir -p .ssh
	# Ensure backwards compatiblity by having dynflowd aliased to foreman-tasks
	/bin/mv /usr/sbin/dynflow-executor /usr/sbin/dynflowd
	/bin/ln -s /usr/sbin/dynflowd /usr/sbin/ruby-foreman-tasks

%:
	dh $@ --with=systemd
