Source: ruby-rb-readline
Section: ruby
Priority: optional
Maintainer: Michael Moll <mmoll@mmoll.at>
Uploaders:  <>
DM-Upload-Allowed: yes
Build-Depends: debhelper, gem2deb
Standards-Version: 3.9.3
Homepage: http://github.com/luislavena/rb-readline
XS-Ruby-Versions: all

Package: ruby-rb-readline
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter
Description: Pure-Ruby Readline Implementation
 The readline library provides a pure Ruby implementation of the GNU readline C library, as well as the Readline extension that ships as part of the standard library.
