Source: ruby-sd-notify
Section: ruby
Priority: optional
Maintainer: Foreman Packaging
Uploaders: Ewoud Kohl van Wijngaarden <ewoud@kohlvanwijngaarden.nl>
Build-Depends: debhelper (>= 11~),
               gem2deb
Standards-Version: 4.3.0
Homepage: https://github.com/agis/ruby-sdnotify
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all
Rules-Requires-Root: no

Package: ruby-sd-notify
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Pure Ruby implementation of systemd's sd_notify(3)
 sd_notify can be used to notify systemd about various service status changes of Ruby programs
