Source: ruby-smart-proxy-dhcp-remote-isc
Section: ruby
Priority: optional
Maintainer: Foreman developers <foreman-dev@googlegroups.com>
Build-Depends: debhelper, gem2deb
Standards-Version: 3.9.8
Homepage: https://github.com/theforeman/smart_proxy_dhcp_remote_isc
XS-Ruby-Versions: all

Package: ruby-smart-proxy-dhcp-remote-isc
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, foreman-proxy (>= 1.15.0~rc1)
Description: Smart-Proxy dhcp module provider for NFS-accessible ISC dhcpd installations
 Smart-Proxy dhcp module provider for NFS-accessible ISC dhcpd installations
