Source: ruby-gitlab-sidekiq-fetcher
Section: ruby
Priority: optional
Maintainer: Adam Ruzicka <aruzicka@redhat.com>
Uploaders: Adam Ruzicka <aruzicka@redhat.com>
DM-Upload-Allowed: yes
Build-Depends: debhelper, gem2deb
Standards-Version: 3.9.3
XS-Ruby-Versions: all

Package: ruby-dynflow
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, ruby-sidekiq (>= 5.0.0), ruby-sidekiq (<< 6.0.0)
Suggests: doc-base
Description: Redis reliable queue pattern implemented in Sidekiq
