Source: ruby-hammer-cli-foreman-remote-execution
Section: ruby
Priority: optional
Maintainer: Stephen Benjamin <stephen@redhat.com>
Build-Depends: debhelper, gem2deb, git
Standards-Version: 3.9.3
Homepage: http://github.com/theforeman/hammer_cli_foreman_remote_execution
XS-Ruby-Versions: all

Package: ruby-hammer-cli-foreman-remote-execution
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter,
         ruby-hammer-cli-foreman (>= 0.1.3), ruby-hammer-cli-foreman (<< 1.0.0), ruby-hammer-cli-foreman-tasks (>= 0.0.3), ruby-hammer-cli-foreman-tasks (<< 0.1.0)
Description: foreman_remote_execution commands for Hammer CLI
 This Hammer CLI plugin contains the commands for foreman_remote_execution
