* @theforeman/packaging

# Individual teams below. Please group them and keep them sorted

# ansible
/plugins/*ansible/ @theforeman/packaging @theforeman/ansible
/dependencies/*/*ansible/ @theforeman/packaging @theforeman/ansible

# ansible-collections
/plugins/ansible-collection-*/ @theforeman/packaging @theforeman/ansible-modules

# atix
/plugins/*opentofu/ @theforeman/packaging @theforeman/atix
/plugins/*snapshot-management/ @theforeman/packaging @theforeman/atix

# bootdisk
/plugins/*bootdisk/ @theforeman/packaging @theforeman/bootdisk
/dependencies/*/*bootdisk/ @theforeman/packaging @theforeman/bootdisk

# cli
/dependencies/*/apipie-* @theforeman/packaging @theforeman/cli

# discovery
/plugins/*discovery/ @theforeman/packaging @theforeman/discovery
/dependencies/*/*discovery/ @theforeman/packaging @theforeman/discovery

# dm-drogeriemarkt
/plugins/ruby-foreman-rescue/ @theforeman/packaging @theforeman/dm-drogeriemarkt

# foreman_maintain
/dependencies/*/foreman_maintain/ @theforeman/packaging @theforeman/foreman_maintain

# foreman-tasks
/dependencies/*/dynflow/ @theforeman/packaging @theforeman/foreman-tasks
/dependencies/*/hammer_cli_foreman_tasks/ @theforeman/packaging @theforeman/foreman-tasks
/plugins/smart_proxy_dynflow/ @theforeman/packaging @theforeman/foreman-tasks
/plugins/ruby-foreman-tasks/ @theforeman/packaging @theforeman/foreman-tasks

# foreman_templates
/plugins/ruby-foreman-templates/ @theforeman/packaging @theforeman/foreman_templates
/dependencies/*/hammer_cli_foreman_templates @theforeman/packaging @theforeman/foreman_templates

# google
/dependencies/*/hammer_cli_foreman_google/ @theforeman/packaging @theforeman/google
/plugins/ruby-foreman-google/ @theforeman/packaging @theforeman/google

# HDM integration
/plugins/*hdm @theforeman/packaging @theforeman/betadots

# OpenBolt integration
/plugins/*openbolt @theforeman/packaging @theforeman/betadots @theforeman/overlookinfra

# ovirt
/plugins/*ovirt/ @theforeman/packaging @theforeman/ovirt

# proxmox
/plugins/*fog-proxmox/ @theforeman/packaging @theforeman/proxmox

# puppet
/plugins/*puppet/ @theforeman/packaging @theforeman/puppet
/dependencies/*/hammer_cli_foreman_puppet/ @theforeman/packaging @theforeman/puppet

# remote-execution
/plugins/*remote*execution*/ @theforeman/packaging @theforeman/remote-execution
/dependencies/*/*remote_execution*/ @theforeman/packaging @theforeman/remote-execution

# salt
/plugins/*salt/ @theforeman/packaging @theforeman/salt
/dependencies/*/hammer_cli_foreman_salt/ @theforeman/packaging @theforeman/salt

# webhooks
/plugins/ruby-foreman-webhooks/ @theforeman/packaging @theforeman/webhooks
/plugins/smart_proxy_shellhooks/ @theforeman/packaging @theforeman/webhooks
/dependencies/*/hammer_cli_foreman_webhooks/ @theforeman/packaging @theforeman/webhooks
