* @theforeman/packaging
/plugins/*remote*execution*/ @theforeman/packaging @theforeman/remote-execution
/dependencies/*/*remote_execution*/ @theforeman/packaging @theforeman/remote-execution
/plugins/*discovery/ @theforeman/packaging @theforeman/discovery
/dependencies/*/*discovery/ @theforeman/packaging @theforeman/discovery
/plugins/*bootdisk/ @theforeman/packaging @theforeman/bootdisk
/dependencies/*/*bootdisk/ @theforeman/packaging @theforeman/bootdisk
/plugins/*snapshot-management/ @theforeman/packaging @theforeman/atix
/plugins/*puppet/ @theforeman/packaging @theforeman/puppet
/plugins/*salt/ @theforeman/packaging @theforeman/salt
/plugins/*fog-proxmox/ @theforeman/packaging @theforeman/proxmox
/dependencies/*/dynflow/ @theforeman/packaging @theforeman/foreman-tasks
/plugins/smart_proxy_dynflow/ @theforeman/packaging @theforeman/foreman-tasks
/plugins/ruby-foreman-tasks/ @theforeman/packaging @theforeman/foreman-tasks
/plugins/ruby-foreman-webhooks/ @theforeman/packaging @theforeman/webhooks
/plugins/smart_proxy_shellhooks/ @theforeman/packaging @theforeman/webhooks
/plugins/ruby-foreman-templates/ @theforeman/packaging @theforeman/foreman_templates
/dependencies/*/hammer_cli_foreman_templates @theforeman/packaging @theforeman/foreman_templates
/dependencies/*/apipie-* @theforeman/packaging @theforeman/cli
