Source: ruby-auth-sanitizer
Section: ruby
Priority: optional
Maintainer: Ondřej Gajdušek <ondrej@gajdusek.dev>
Build-Depends: debhelper-compat (= 12),
               gem2deb,
               rake
Standards-Version: 4.5.0
Homepage: https://github.com/ruby-oauth/auth-sanitizer
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all
Rules-Requires-Root: no

Package: ruby-auth-sanitizer
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${misc:Depends},
         ${ruby:Depends},
         ${shlibs:Depends}
Description: Configurable KV output redaction
 Sanitize and filter your secrets from log output.
