Source: ruby-hammer-cli-foreman-bootdisk
Section: ruby
Priority: optional
Maintainer: Dominic Cleal <dcleal@redhat.com>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.3.0~)
Standards-Version: 3.9.3
Homepage: http://github.com/theforeman/hammer_cli_foreman_bootdisk
XS-Ruby-Versions: all

Package: ruby-hammer-cli-foreman-bootdisk
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter,
         ruby-hammer-cli-foreman (>= 0.1.2)
Description: Foreman boot disk commands for Hammer CLI
 This Hammer CLI plugin contains set of commands for foreman_bootdisk, a plugin
 to Foreman for ISO/USB booting support.
