Source: ruby-foreman-memcache
Section: ruby
Priority: extra
Maintainer: Michael Moll <mmoll@mmoll.at>
Build-Depends: debhelper
Standards-Version: 3.9.3
Homepage: https://github.com/theforeman/foreman-memcache

Package: ruby-foreman-memcache
Architecture: all
Depends: ${misc:Depends}, bundler, foreman (>= 1.5.0~rc1)
Description: Foreman Memcache Plugin
 Memcache plugin for Foreman
