Source: ruby-foreman-openbolt
Section: ruby
Priority: optional
Maintainer: Tim <tim@bastelfreak.de>
Build-Depends: debhelper-compat (= 13),
               gem2deb (>= 1),
               rake,
               foreman-assets (>= 3.4.0~rc1),
               foreman-nulldb (>= 3.4.0~rc1),
               ruby-foreman-tasks (>= 11.0)
Standards-Version: 4.6.1
Homepage: https://github.com/overlookinfra/foreman_openbolt
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all
Rules-Requires-Root: no

Package: ruby-foreman-openbolt
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${misc:Depends}, bundler, foreman (>= 3.4.0~rc1),
         ${ruby:Depends},
         ${shlibs:Depends},
         ruby-foreman-tasks (>= 11.0)
Description: Foreman OpenBolt integration
 This plugin adds OpenBolt integration into Foreman, allowing users to run
 tasks and plans present in their environment.
