Source: ruby-foreman-rescue
Section: ruby
Priority: extra
Maintainer: Marc Deop <marc.deop@erasys.de>
Build-Depends: debhelper, foreman(>= 1.20.0), foreman-sqlite3 (>= 1.20.0)
Standards-Version: 3.9.3
Homepage: https://github.com/dm-drogeriemarkt/foreman_rescue

Package: ruby-foreman-rescue
Architecture: all
Depends: ${misc:Depends}, bundler, foreman (>= 1.20.0)
Description: Foreman Rescue Plugin
 This plugin allows a user to boot a Foreman host into a rescue system via PXE.
