Source: foreman-proxy
Section: net
Priority: extra
Maintainer: Greg Sutcliffe <gsutclif@redhat.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://theforeman.org/projects/smart-proxy
Vcs-Git: git://github.com/ohadlevy/smart-proxy.git
Vcs-Browser: https://github.com/ohadlevy/smart-proxy

Package: foreman-proxy
Architecture: all
Depends: ruby1.9.1|ruby-interpreter, rake, ruby-sinatra, ruby-rack (>= 1.1.0), ruby-json, ruby-rkerberos (>= 0.1.1), libaugeas-ruby, ruby-bundler-ext
Recommends: sudo, wget, ruby-gssapi, ruby-rubyipmi (>= 0.9.2), foreman-debug
Description: RESTful proxies for DNS, DHCP, TFTP, and Puppet
 Smart-Proxy is a project which provides a RESTful API to various sub-systems
 like DNS, DHCP, TFTP, and Puppet.
 .
 Its goal is to provide API for a higher level orchestration tools.
 Smart-Proxy provides an easy way to add or extended existing
 sub-systems and APIs.
