#!/usr/bin/make -f
include /usr/share/dpkg/pkg-info.mk
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export RELEASE =  $(shell git branch --show-current)
build:
	if [[ "deb/develop" != "$RELEASE" ]] then
		sed "s/nightly/$DEB_UPSTREAM_VERSION/g" -i foreman.list
	fi
	dh $@
%:
	dh $@ --with=systemd
