Source: ruby-foreman-tasks
Section: ruby
Priority: extra
Maintainer: Michael Moll <mmoll@mmoll.at>
Build-Depends: debhelper, git | git-core, foreman (>= 2.1.0~rc1), foreman-nulldb (>= 2.1.0~rc1), foreman-assets, python-dev
Standards-Version: 3.9.3
Homepage: https://github.com/theforeman/foreman-tasks

Package: ruby-foreman-tasks
Architecture: all
Conflicts: ruby-foreman-dynflow
Replaces: ruby-foreman-dynflow
Depends: ${misc:Depends}, bundler, foreman (>= 2.1.0~rc1)
Description: Tasks management engine for Foreman.
  Tasks management engine for Foreman. Gives you and overview of what's happening/happened in your Foreman instance. 
