Source: ruby-foreman-tasks
Section: ruby
Priority: extra
Maintainer: Michael Moll <mmoll@mmoll.at>
Build-Depends: debhelper, foreman (>= 1.8.0~rc1), foreman-sqlite3 (>= 1.8.0~rc1), ruby-foreman-dynflow (>= 0.8.1), ruby-foreman-dynflow (<< 0.9.0)
Standards-Version: 3.9.3
Homepage: https://github.com/Dynflow/dynflow

Package: ruby-foreman-tasks
Architecture: all
Depends: ${misc:Depends}, bundler, foreman (>= 1.8.0~rc1), ruby-foreman-dynflow (>= 0.8.1), ruby-foreman-dynflow (<< 0.9.0)
Description: Tasks management engine for Foreman.
  Tasks management engine for Foreman. Gives you and overview of what's happening/happened in your Foreman instance. 
