#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PLUGIN = foreman-tasks
PLUGIN_HAS_ASSETS = true
PLUGIN_HAS_WEBPACK = true
PLUGIN_HAS_PACKAGE_JSON = true

include /usr/share/foreman/foreman-plugin.mk

override_dh_auto_install:
	cp -r /usr/share/foreman/vendor/ruby/*/gems/foreman-tasks-*/extra ./
	dh_auto_install
