Source: ruby-rsec
Section: ruby
Priority: optional
Maintainer: Foreman developers <foreman-dev@googlegroups.com>
Build-Depends: debhelper,
               gem2deb,
               rake
Standards-Version: 4.0.0
Vcs-Git: https://github.com/luikore/rsec.git
Vcs-Browser: https://github.com/luikore/rsec
Homepage: http://rsec.herokuapp.com
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all

Package: ruby-rsec
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Extreme Fast Parser Combinator for Ruby
 Easy and extreme fast dynamic PEG parser combinator.
