#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

export PYBUILD_NAME=katello-host-tools
export PYBUILD_DISABLE=test
export PYBUILD_DESTDIR_python2=${PWD}/debian/python-${PYBUILD_NAME}/
export PYBUILD_DESTDIR_python2-dbg=${PWD}/debian/python-${PYBUILD_NAME}-dbg/
export PYBUILD_DESTDIR_python3=${PWD}/debian/python3-${PYBUILD_NAME}/
export PYBUILD_DESTDIR_python3-dbg=${PWD}/debian/python3-${PYBUILD_NAME}-dbg/

export PYTHON=python3
export INCLUDE_SYSPURPOSE=1
export PYBUILD_SYSTEM=custom

include /usr/share/dpkg/default.mk

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info

override_dh_auto_build:
	dh_auto_build
