#!/usr/bin/make -f
#export DH_VERBOSE=1
#
# Uncomment to ignore all test failures (but the tests will run anyway)
#export DH_RUBY_IGNORE_TESTS=all
#
# Uncomment to ignore some test failures (but the tests will run anyway).
# Valid values:
#export DH_RUBY_IGNORE_TESTS=ruby1.8
#
# If you need to specify the .gemspec (eg there is more than one)
#export DH_RUBY_GEMSPEC=gem.gemspec

%:
	dh $@ --buildsystem=ruby --with ruby

override_dh_auto_build:
	dh_auto_build
	cd man && ronn -r *.ronn

override_dh_auto_clean:
	rm -rf lib/bundler/vendor
	dh_auto_clean
	rm -f man/*.1 man/*.5

override_dh_installchangelogs:
	dh_installchangelogs -i CHANGELOG.md

