Source: ansible-runner
Section: net
Priority: optional
Maintainer: Sakirnth Nagarasa <sakirnth@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-daemon,
 python3-mock,
 python3-pbr,
 python3-pexpect,
 python3-pytest,
 python3-setuptools,
 python3-sphinx,
 python3-yaml,
Build-Depends-Indep:
 python3-doc,
Rules-Requires-Root: no
Standards-Version: 4.6.1
Homepage: https://github.com/ansible/ansible-runner
Vcs-Browser: https://salsa.debian.org/saki/ansible-runner
Vcs-Git: https://salsa.debian.org/saki/ansible-runner.git

Package: python-ansible-runner-doc
Architecture: all
Multi-Arch: foreign
Section: doc
Depends:
 ${misc:Depends},
 ${sphinxdoc:Depends},
Description: library that interfaces with Ansible (docs)
 Ansible Runner is a tool and python library that helps when interfacing
 with Ansible directly or as part of another system whether that be
 through a container image interface, as a standalone tool, or as a
 Python module that can be imported.
 .
 This package provides the Sphinx generated documentation for Ansible Runner.

Package: python3-ansible-runner
Architecture: all
Depends:
 ansible,
 bubblewrap,
 python3-distutils,
 sshpass,
 ${misc:Depends},
 ${python3:Depends},
Suggests:
 python-ansible-runner-doc,
Provides: ansible-runner (= ${binary:Version})
Breaks: ansible-runner (<< 1.4.7~)
Replaces: ansible-runner (<< 1.4.7~)
Description: library that interfaces with Ansible (Python 3.x)
 Ansible Runner is a tool and python library that helps when interfacing
 with Ansible directly or as part of another system whether that be
 through a container image interface, as a standalone tool, or as a
 Python module that can be imported.
 .
 This package contains the Python 3.x module.
