Source: ruby-amazing-print
Section: ruby
Priority: optional
Maintainer: Maintainer: Michael Moll <mmoll@mmoll.at>
Uploaders: <kvedulv@kvedulv.de>
Build-Depends: debhelper (>= 11),
               gem2deb,
               ruby-nokogiri,
               ruby-activesupport,
               rake,
               ruby-rspec
Standards-Version: 4.5.0
Homepage: https://github.com/amazing-print/amazing_print
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all
Rules-Requires-Root: no

Package: ruby-amazing-print
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${misc:Depends},
         ${ruby:Depends},
         ${shlibs:Depends}
Description: Pretty print Ruby objects with proper indentation and colors
 Great Ruby debugging companion: pretty print Ruby objects to visualize their
 structure. Supports custom object formatting via plugins
