Source: katello-host-tools
Section: unknown
Priority: optional
Maintainer: ATIX Team <info@atix.de>
Build-Depends: debhelper (>= 9),
               dh-exec,
               dh-python,
               lsb-release,
               python3-setuptools,
               python3-all
Standards-Version: 3.9.8
Homepage: https://github.com/katello/katello-host-tools
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2

Package: katello-host-tools
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-subscription-manager
Description:
 .
 A set of commands that support a Katello host including faster package profile uploading and bound repository reporting.
 .

Package: katello-host-tools-tracer
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, katello-host-tools
Description:
 .
 Adds Tracer functionality to a client managed by katello-host-tools.
 .
