Source: ruby-foreman-remote-execution
Section: ruby
Priority: extra
Maintainer: Stephen Benjamin <stephen@redhat.com>
Build-Depends: debhelper (>= 8.0.0), foreman-assets (>= 1.9.0~rc3), foreman (>= 1.9.0~rc3), foreman-sqlite3 (>= 1.9.0~rc3), ruby-foreman-tasks (>= 0.7.3), ruby-foreman-tasks (<< 0.8.0)
Standards-Version: 3.9.3
Homepage: https://github.com/theforeman/foreman_remote_execution

Package: ruby-foreman-remote-execution
Architecture: all
Depends: ${misc:Depends}, bundler, foreman (>= 1.9.0~rc3), ruby-foreman-tasks (>= 0.7.3), ruby-foreman-tasks (<< 0.8.0)
Description: Foreman Remote Execution Plugin
  A plugin bringing remote execution to the Foreman, completing the config management functionality with remote management functionality
