Source: ruby-foreman-remote-execution
Section: ruby
Priority: extra
Maintainer: Stephen Benjamin <stephen@redhat.com>
Build-Depends: debhelper (>= 8.0.0), git | git-core, foreman-assets (>= 3.8.0~rc1), foreman (>= 3.8.0~rc1),
  foreman-nulldb (>= 3.8.0~rc1), ruby-foreman-tasks (>= 8.2.0), ruby-foreman-deface,
  ruby-dynflow (>= 1.0.2), ruby-dynflow (<< 2.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/theforeman/foreman_remote_execution

Package: ruby-foreman-remote-execution
Architecture: all
Depends: ${misc:Depends}, bundler, foreman (>= 3.8.0~rc1), ruby-foreman-tasks (>= 8.2.0),
  ruby-foreman-deface, ruby-dynflow (>= 1.0.2), ruby-dynflow (<< 2.0.0)
Description: Foreman Remote Execution Plugin
  A plugin bringing remote execution to the Foreman, completing the config management functionality with remote management functionality

Package: ruby-foreman-remote-execution-cockpit
Architecture: all
Depends: ${misc:Depends}, ruby-foreman-remote-execution (= ${binary:Version}), cockpit-ws
Description: Foreman Remote Execution Plugin - Cockpit integration
  This package contains files related to Cockpit, mainly foreman-cockpit service
  and corresponding configuration files.
