Source: ruby-foreman-default-hostgroup
Section: ruby
Priority: extra
Maintainer: Greg Sutcliffe <gsutclif@redhat.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/theforeman/foreman_default_hostgroup

Package: ruby-foreman-default-hostgroup
Architecture: all
Depends: ${misc:Depends}, bundler, foreman
Description: Foreman Default Hostgroup Plugin
 Adds the option to specify a default hostgroup for new hosts created from
 facts/reports.
