Source: ruby-foreman-proxmox
Section: ruby
Priority: extra
Maintainer: Tristan Robert <tristan.robert.44@gmail.com>
Build-Depends: debhelper (>= 8.0.0), foreman-assets (>= 1.17.0), foreman (>= 1.17.0), foreman-sqlite3 (>= 1.17.0)
Standards-Version: 3.9.3
Homepage: https://github.com/tristanrobert/foreman_proxmox

Package: ruby-foreman-proxmox
Architecture: all
Depends: ${misc:Depends}, bundler, foreman (>= 1.17.0)
Description: Foreman Proxmox Plugin
 Foreman plugin that adds Proxmox VE compute resource using fog-proxmox gem
