Source: ruby-foreman-azure-rm
Section: ruby
Priority: optional
Maintainer: Adam Cecile <acecile@letz-it.lu>
Build-Depends: debhelper (>= 11~),
               gem2deb,
               foreman-assets,
               foreman-nulldb,
# Could probably be done like this at some point
#               ruby-azure-mgmt-compute-0.18.7,
#               ruby-azure-mgmt-network-0.19.0,
#               ruby-azure-mgmt-resources-0.17.6,
#               ruby-azure-mgmt-storage-0.17.10,
#               ruby-azure-mgmt-subscriptions-0.18.1,
Standards-Version: 4.5.1
Homepage: https://github.com/theforeman/foreman_azure_rm
XS-Ruby-Versions: all
Rules-Requires-Root: no

Package: ruby-foreman-azure-rm
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         ruby-foreman-deface (<< 2.0),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Azure Resource Manager as a compute resource for The Foreman
 This gem provides Azure Resource Manager as a compute resource for The Foreman
