#!/usr/bin/make -f

PLUGIN = foreman_azure_rm

build:
	cp cache/* /usr/share/foreman/vendor/cache/
	cp $(PLUGIN).rb /usr/share/foreman/bundler.d/
	cd /usr/share/foreman && ( \
		/usr/bin/foreman-ruby /usr/bin/bundle install --local && \
		/usr/bin/foreman-ruby /usr/bin/bundle exec rake plugin:assets:precompile[$(PLUGIN)] \
			RAILS_ENV=production DATABASE_URL=nulldb://nohost \
	)
	GEM_PATH=$$(cd /usr/share/foreman && /usr/bin/foreman-ruby /usr/bin/bundle show $(PLUGIN)) && \
		cp -rp $${GEM_PATH}/public/assets/$(PLUGIN) ./

%:
	dh $@
