Source: ruby-snaky-hash
Section: ruby
Priority: optional
Maintainer: Evgeni Golov <evgeni@debian.org>
Build-Depends: debhelper-compat (= 12),
               gem2deb,
               rake,
               ruby-hashie,
               ruby-rspec,
               ruby-version-gem
Standards-Version: 4.5.0
Homepage: https://gitlab.com/oauth-xx/snaky_hash
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all
Rules-Requires-Root: no

Package: ruby-snaky-hash
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${misc:Depends},
         ${ruby:Depends},
         ${shlibs:Depends}
Description: A very snaky hash
 A Hashie::Mash joint to make #snakelife better
