[Unit]
Description=Foreman jobs daemon
Documentation=https://theforeman.org
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
User=foreman
TimeoutSec=90
WorkingDirectory=/usr/share/foreman
ExecStart=/usr/sbin/dynflowd start
ExecStop=/usr/sbin/dynflowd stop
EnvironmentFile=-/etc/default/dynflowd

[Install]
WantedBy=multi-user.target
Alias=ruby-foreman-tasks
