#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk

# Uncomment this to turn on verbose mode.
# DEB_VERBOSE_ALL=1
# DH_VERBOSE=1

build/foreman::
	#
	# Build the gem cache
	#
	/bin/cp debian/debian.rb bundler.d/
	/bin/cp config/settings.yaml.example config/settings.yaml
	/bin/cp config/database.yml.example config/database.yml
	/bin/cp config/email.yaml.example config/email.yaml
	/usr/bin/bundle pack --all
	/usr/bin/bundle exec rake locale:pack assets:precompile
	/usr/bin/bundle exec rake db:migrate --trace RAILS_ENV=production
	/usr/bin/bundle exec rake apipie:cache cache_part=resources --trace RAILS_ENV=production
	/bin/rm db/production.sqlite3
	/bin/rm db/development.sqlite3
	/bin/mkdir -p .ssh
