#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk

# Uncomment this to turn on verbose mode.
# DEB_VERBOSE_ALL=1
# DH_VERBOSE=1

build/foreman::
	#
	# Build the gem cache
	#
	/bin/cp config/settings.yaml.example config/settings.yaml
	/bin/cp config/database.yml.example config/database.yml
	/usr/bin/bundle pack --all
	/usr/bin/bundle exec rake locale:pack assets:precompile
	/bin/rm config/settings.yaml
	/bin/rm config/database.yml
	# Somehow blank db sqlite files get added
	/bin/rm db/production.sqlite3
	/bin/rm db/development.sqlite3
