Source: ruby-foreman-hooks
Section: ruby
Priority: extra
Maintainer: Greg Sutcliffe <gsutclif@redhat.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/theforeman/foreman_hooks

Package: ruby-foreman-hooks
Architecture: all
Depends: ${misc:Depends}, foreman (>= 3.1.0~)
Description: Foreman Hooks Plugin
 Plugin engine for Foreman that enables running custom hook scripts on Foreman
 events.
