Source: ruby-foreman-tasks-core
Section: ruby
Priority: optional
Maintainer: Ivan Nečas <inecas@redhat.com>
Build-Depends: debhelper, gem2deb
Standards-Version: 3.9.4
#Vcs-Git: git://anonscm.debian.org/pkg-ruby-extras/ruby-foreman-tasks-core.git
#Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-ruby-extras/ruby-foreman-tasks-core.git;a=summary
Homepage: http://github.com/theforeman/foreman-tasks
XS-Ruby-Versions: all

Package: ruby-foreman-tasks-core
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, rake, ruby-dynflow (>= 1.2.0),
Description: Foreman tasks - core bits
