#!/usr/bin/make -f
include /usr/share/dpkg/pkg-info.mk

FOREMAN_VERSION:=$(shell echo '$(DEB_VERSION_UPSTREAM)' | sed -E 's/9999.*/nightly/; s/([0-9]+\.[0-9]+).*/\1/')
RELEASE:=$(shell bash -c 'source /etc/os-release && echo $$VERSION_CODENAME')

override_dh_auto_build:
	sed "s/nightly/$(FOREMAN_VERSION)/g" -i debian/foreman.list
	sed "s/release/$(RELEASE)/g" -i debian/foreman.list
%:
	dh $@
