Source: ansible-collection-theforeman-foreman
Section: net
Priority: optional
Maintainer: Evgeni Golov <evgeni@debian.org>
Build-Depends: debhelper (>= 11~)
Standards-Version: 4.5.1
Homepage: https://theforeman.org/plugins/foreman-ansible-modules/
Rules-Requires-Root: no

Package: ansible-collection-theforeman-foreman
Architecture: all
Depends: ${misc:Depends}, ansible-core | ansible (>= 2.9), python3-requests
Description: The Foreman Project Ansible modules collection
 Collection of Ansible Modules to manage Foreman installations.
 Includes modules for Katello.
