Source: ruby-hammer-cli-foreman-ansible
Section: ruby
Priority: optional
Maintainer: Oleh Fedorenko <ofedoren@redhat.com>
Build-Depends: debhelper, gem2deb
Standards-Version: 3.9.5
Homepage: https://github.com/theforeman/hammer-cli-foreman-ansible
XS-Ruby-Versions: all

Package: ruby-hammer-cli-foreman-ansible
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, ruby-hammer-cli-foreman (>= 0.12.0)
Description: foreman_ansible commands for Hammer CLI
 This Hammer CLI plugin contains set of commands for foreman_ansible, a plugin to Foreman for Ansible.
