Source: ruby-hammer-cli-foreman-host-reports
Section: ruby
Priority: optional
Maintainer: Oleh Fedorenko <ofedoren@redhat.com>
Build-Depends: debhelper-compat (= 12),
               gem2deb,
               rake,
               ruby-hammer-cli-foreman (<< 4.0.0),
               ruby-hammer-cli-foreman (>= 3.0.0)
Standards-Version: 4.5.0
Homepage: https://github.com/theforeman/hammer-cli-foreman-host-reports
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all
Rules-Requires-Root: no

Package: ruby-hammer-cli-foreman-host-reports
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${misc:Depends},
         ${ruby:Depends},
         ${shlibs:Depends}
Description: Foreman Host Reports plugin for Hammer CLI
