Source: ruby-ms-rest-azure
Section: ruby
Priority: optional
Maintainer: Adam Cecile <acecile@letz-it.lu>
Build-Depends: debhelper (>= 11~),
               gem2deb,
               ruby-concurrent (>= 1.0),
               ruby-faraday (<< 2.0.0),
               ruby-faraday (>= 0.9),
               ruby-faraday-cookie-jar (>= 0.0.6),
               ruby-ms-rest (>= 0.7.6)
Standards-Version: 4.5.1
Homepage: https://aka.ms/ms_rest_azure
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all
Rules-Requires-Root: no

Package: ruby-ms-rest-azure
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         ruby-concurrent (>= 1.0),
         ruby-faraday (<< 2.0.0),
         ruby-faraday (>= 0.9),
         ruby-faraday-cookie-jar (>= 0.0.6),
         ruby-ms-rest (>= 0.7.6),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Azure Client Library for Ruby.
 Azure Client Library for Ruby.
