Source: ruby-hashie
Section: ruby
Priority: optional
Maintainer: Marek Hulan <mhulan@redhat.com>
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.6),
               ruby-rspec
Standards-Version: 3.9.4
Homepage: https://github.com/intridea/hashie
XS-Ruby-Versions: all

Package: ruby-hashie
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter
Description: Your friendly neighborhood hash toolkit.
 Hashie is a small collection of tools that make hashes more powerful. Currently includes Mash (Mocking Hash) and Dash (Discrete Hash).
