#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PLUGIN = foreman_docker

build:
	cp cache/* /usr/share/foreman/vendor/cache/
	cp $(PLUGIN).rb /usr/share/foreman/bundler.d/
	cd /usr/share/foreman && ( \
		bundle install --local && \
		bundle exec rake plugin:assets:precompile[$(PLUGIN)] RAILS_ENV=production && \
		bundle exec rake db:migrate RAILS_ENV=development && \
		bundle exec rake plugin:apipie:cache[$(PLUGIN)] cache_part=resources \
			OUT=/var/lib/foreman/public/apipie-cache/plugin/$(PLUGIN) RAILS_ENV=development \
	)
	GEM_PATH=$$(cd /usr/share/foreman && bundle show $(PLUGIN)) && \
		cp -rp $${GEM_PATH}/public/assets/$(PLUGIN) ./
	[ -e apipie-cache ] || mkdir apipie-cache/
	cp -rp /var/lib/foreman/public/apipie-cache/plugin/$(PLUGIN) ./apipie-cache/

%:
	dh $@ 
