Source: ruby-foreman-statistics
Section: ruby
Priority: extra
Maintainer: Ondrej Ezr <oezr@redhat.com>
Build-Depends: debhelper (>= 8.0.0), foreman (>= 2.1.0~rc2), foreman-nulldb (>= 2.1.0~rc2), foreman-assets (>= 2.1.0~rc2)
Standards-Version: 3.9.3
Homepage: https://github.com/theforeman/foreman_statistics

Package: ruby-foreman-statistics
Architecture: all
Depends: ${misc:Depends}, bundler, foreman (>= 2.1.0~rc2)
Description: Foreman statistics plugin
 Statistics plugin for Foreman.
