Source: ruby-foreman-bootdisk
Section: ruby
Priority: extra
Maintainer: Greg Sutcliffe <gsutclif@redhat.com>
Build-Depends: debhelper (>= 8.0.0), foreman (>= 1.9.0~rc1), foreman-sqlite3 (>= 1.9.0~rc1)
Standards-Version: 3.9.3
Homepage: https://github.com/theforeman/foreman_bootdisk

Package: ruby-foreman-bootdisk
Architecture: all
Depends: ${misc:Depends}, bundler, foreman (>= 1.9.0~rc1),
  syslinux, genisoimage, ipxe
Description: Foreman Bootdisk Plugin
 Plugin for Foreman that creates iPXE-based boot disks to provision hosts
 without the need for PXE infrastructure.
