Source: ruby-kafo-wizards
Section: ruby
Priority: optional
Maintainer: Foreman developers <foreman-dev@googlegroups.com>
Build-Depends: debhelper,
               gem2deb,
               ruby-highline
Standards-Version: 3.9.6
Homepage: https://github.com/theforeman/kafo_wizards
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all

Package: ruby-kafo-wizards
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         ruby-highline,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Wizard like interfaces in terminal
 This gem helps to create wizard like interfaces in terminal applications, has support for nesting and value validation
