Source: ruby-foreman-maintain
Section: ruby
Priority: optional
Maintainer: Amit Upadhye <upadhyeammit@gmail.com>
Build-Depends: debhelper (>= 12.8~),
               gem2deb,
               ruby-clamp,
               ruby-highline
Standards-Version: 4.3.0
Homepage: https://github.com/theforeman/foreman_maintain
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all
Rules-Requires-Root: no

Package: ruby-foreman-maintain
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         ruby-clamp,
         ruby-highline,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Foreman maintenance tool belt
 Provides various features that helps keeping the Foreman up and running.
