Source: ruby-foreman-salt
Section: ruby
Priority: extra
Maintainer: Stephen Benjamin <stephen@redhat.com>
Build-Depends: debhelper (>= 8.0.0), foreman (>= 1.8.0~rc1), foreman-sqlite3 (>= 1.8.0~rc1), ruby-foreman-deface
Standards-Version: 3.9.3
Homepage: https://github.com/theforeman/foreman_salt

Package: ruby-foreman-salt
Architecture: all
Depends: ${misc:Depends}, bundler, foreman (>= 1.8.0~rc1), ruby-foreman-deface, ruby-foreman-tasks
Description: Foreman Salt Plugin
 Plugin for Foreman for Salt integration
