Source: ruby-foreman-salt
Section: ruby
Priority: extra
Maintainer: Stephen Benjamin <stephen@redhat.com>
Build-Depends: debhelper (>= 8.0.0), foreman-assets (>= 1.21.0), foreman (>= 1.21.0), foreman-sqlite3 (>= 1.21.0), ruby-foreman-deface, ruby-foreman-tasks (>= 0.14.5), ruby-foreman-tasks (<< 1.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/theforeman/foreman_salt

Package: ruby-foreman-salt
Architecture: all
Depends: ${misc:Depends}, bundler, foreman (>= 1.21.0), ruby-foreman-deface, ruby-foreman-tasks (>= 0.14.5), ruby-foreman-tasks (<< 1.0.0)
Description: Foreman Salt Plugin
 Plugin for Foreman for Salt integration
