Source: ruby-hammer-cli-foreman-tasks
Section: ruby
Priority: optional
Maintainer: Stephen Benjamin <stephen@redhat.com>
Build-Depends: debhelper, gem2deb
Standards-Version: 3.9.3
Homepage: http://github.com/theforeman/hammer-cli-foreman-tasks
XS-Ruby-Versions: ruby2.0

Package: ruby-hammer-cli-foreman-tasks
Architecture: all
XB-Ruby-Versions: ruby2.0
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby2.0,
         ruby-hammer-cli-foreman (>= 0.1.1), ruby-hammer-cli-foreman (<< 1.0.0)
Description: foreman_tasks commands for Hammer CLI
 This Hammer CLI plugin contains the commands for foreman_tasks
