Source: ruby-foreman-cockpit
Section: ruby
Priority: extra
Maintainer: Daniel Lobato Garcia <elobatocs@gmail.com>
Build-Depends: debhelper, foreman-assets (>= 1.7.0), ruby-foreman-deface (<<2.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/theforeman/foreman_cockpit

Package: ruby-foreman-cockpit
Architecture: all
Depends: ${misc:Depends}, bundler, ruby-foreman-deface (<<2.0.0), foreman (>= 1.7.0)
Description: Foreman Cockpit plugin
 Integration with Cockpit in Foreman.
