Source: ruby-smart-proxy-dynflow
Section: ruby
Priority: optional
Maintainer: Stephen Benjamin <stephen@redhat.com>
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.3.0~)
Standards-Version: 3.9.3
Homepage: https://github.com/theforeman/smart_proxy_dynflow
XS-Ruby-Versions: all

Package: ruby-smart-proxy-dynflow
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, foreman-proxy (>= 1.9.0~rc3), ruby-dynflow (>= 0.8.6), ruby-dynflow (<< 0.9.0), ruby-sequel, ruby-sqlite3
Description: Dynflow runtime for Foreman smart proxy
   Dynflow runtime for Foreman smart proxy
