Source: ruby-unicode-display-width
Section: ruby
Priority: optional
Maintainer: Foreman developers <foreman-dev@googlegroups.com>
Build-Depends: debhelper,
               gem2deb
Standards-Version: 3.9.8
Homepage: http://github.com/janlelis/unicode-display_width
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all

Package: ruby-unicode-display-width
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Determines the monospace display width of a string in Ruby.
 [Unicode 9.0.0] Determines the monospace display width of a string using EastAsianWidth.txt, Unicode general category, and other data.
