Source: ruby-fastercsv
Section: ruby
Priority: optional
Maintainer: Michael Moll <mmoll@mmoll.at>
Uploaders: Michael Moll <mmoll@mmoll.at>
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.13~)
Standards-Version: 3.9.3
Homepage: https://github.com/JEG2/faster_csv/

Package: ruby-fastercsv
Architecture: all
XS-Ruby-Versions: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter
Description: Complete replacement to the CSV standard library for Ruby
 FasterCSV is intended as a complete replacement to the CSV standard library. It
 is significantly faster and smaller while still being pure Ruby code. It also
 strives for a better interface.
 .
 FasterCSV is intended to be used with ruby1.8 interpreter, as ruby1.9
 already provides its own version of FasterCSV.
