Source: ruby-infoblox
Section: ruby
Priority: optional
Maintainer: Martin Bačovský <mbacovsk@redhat.com>
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.3.0~)
Standards-Version: 3.9.3
Homepage: https://github.com/govdelivery/infoblox
XS-Ruby-Versions: all

Package: ruby-infoblox
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter,
         ruby-faraday,
         ruby-faraday-middleware,
Description: A Ruby wrapper to the Infoblox WAPI
 Interact with the Infoblox WAPI with Ruby. Use this gem to list, create, and delete host records. 
