Source: foreman
Maintainer: Greg Sutcliffe <greg.sutcliffe@gmail.com>
Section: web
Priority: extra
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7), cdbs, bundler (>= 1.2), ruby, ruby1.8-dev, git | git-core,
               libxml2-dev, libxslt1-dev, libmysqlclient-dev, libpq-dev, pkg-config,
               libvirt-dev, libsqlite3-dev
Homepage: http://www.theforeman.org/

Package: foreman
Architecture: any
Section: web
Priority: extra
Depends: rubygems1.8 | ruby1.9.1, bundler (>= 1.2),
         puppet (>=0.24.4), rake (>=0.8.4), ${misc:Depends}
Recommends: foreman-proxy
Description: Systems management web interface
 Foreman is aimed to be a single address for all machines life cycle management.
 .
  - Foreman integrates with Puppet and acts as web front end to it.
  - Foreman takes care of bare bone provisioning until the point puppet is
    running, allowing Puppet to do what it does best.
  - Foreman shows you Systems Inventory (based on Facter) and provides real time
    information about hosts status based on Puppet reports.
  - Foreman creates everything you need when adding a new machine to your
    network. Its goal being automatically managing everything you would
    normally manage manually - that would eventually include DNS, DHCP,
    TFTP, PuppetCA, CMDB and everything else you might consider useful.
  - With Foreman you can always rebuild your machines from scratch.
  - Foreman is designed to work in a large enterprise, where multiple domains,
    subnets and puppetmasters are required.
    In many cases, Foreman could help remote provisions where no experienced
    technicians are available.

Package: foreman-mysql
Architecture: all
Section: web
Priority: extra
Depends: foreman, libmysqlclient-dev, ${misc:Depends}
Description: metapackage providing MySQL dependencies for Foreman
 This package only provides MySQL dependencies for Foreman, a
 flexible systems management web application. Install this
 one if you want to use a MySQL database with Foreman.
 .
 The foreman package should be installed along with this package.

Package: foreman-postgresql
Architecture: all
Section: web
Priority: extra
Replaces: foreman-pgsql
Provides: foreman-pgsql
Conflicts: foreman-pgsql
Depends: foreman, libpq-dev, ${misc:Depends}
Description: metapackage providing PostgreSQL dependencies for Foreman
 This package provides PostgreSQL dependencies for Foreman, a
 flexible systems management web application. Install this
 one if you want to use a PostgreSQL database with Foreman.
 .
 The foreman package should be installed along with this package.

Package: foreman-sqlite3
Architecture: all
Section: web
Priority: extra
Depends: foreman, libsqlite3-dev , ${misc:Depends}
Description: metapackage providing sqlite dependencies for Foreman
 This package provides sqlite dependencies for Foreman, a
 flexible systems management web application. Install this
 one if you want to use a SQLite database with Foreman.
 .
 The foreman package should be installed along with this package.

Package: foreman-console
Architecture: all
Section: web
Priority: extra
Depends: foreman, ${misc:Depends}
Description: metapackage providing console dependencies for Foreman
 This package provides console dependencies for Foreman, a
 flexible systems management web application.
 .
 The foreman package should be installed along with this package.

Package: foreman-devel
Architecture: all
Section: web
Priority: extra
Depends: foreman, ${misc:Depends}
Description: metapackage providing development dependencies for Foreman
 This package provides development dependencies for Foreman, a
 flexible systems management web application.
 .
 The foreman package should be installed along with this package.

Package: foreman-compute
Architecture: all
Section: web
Priority: extra
Replaces: foreman-fog
Provides: foreman-fog
Conflicts: foreman-fog
Depends: foreman, libxml2-dev, libxslt1-dev, ${misc:Depends}
Description: metapackage providing fog dependencies for Foreman (for Amazon EC2 support)
 This package provides fog dependencies for Foreman, a
 flexible systems management web application.
 .
 The foreman package should be installed along with this package.

Package: foreman-libvirt
Architecture: all
Section: web
Priority: extra
Depends: foreman, foreman-compute, pkg-config, libvirt-dev, ${misc:Depends}
Description: metapackage providing libvirt dependencies for Foreman
 This package provides libvirt dependencies for Foreman, a
 flexible systems management web application.
 .
 The foreman package should be installed along with this package.

Package: foreman-mysql2
Architecture: all
Section: web
Priority: extra
Depends: foreman, libmysqlclient-dev, ${misc:Depends}
Description: metapackage providing mysql2 dependencies for Foreman
 This package provides mysql2 dependencies for Foreman, a
 flexible systems management web application.
 .
 The foreman package should be installed along with this package.

Package: foreman-ovirt
Architecture: all
Section: web
Priority: extra
Depends: foreman, foreman-compute, ${misc:Depends}
Description: metapackage providing ovirt dependencies for Foreman
 This package provides ovirt dependencies for Foreman, a
 flexible systems management web application.
 .
 The foreman package should be installed along with this package.

Package: foreman-test
Architecture: all
Section: web
Priority: extra
Depends: foreman, ${misc:Depends}
Description: metapackage providing test dependencies for Foreman
 This package provides test dependencies for Foreman, a
 flexible systems management web application.
 .
 The foreman package should be installed along with this package.

Package: foreman-vmware
Architecture: all
Section: web
Priority: extra
Depends: foreman, foreman-compute, ${misc:Depends}
Description: metapackage providing vmware dependencies for Foreman
 This package provides vmware dependencies for Foreman, a
 flexible systems management web application.
 .
 The foreman package should be installed along with this package.
