#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk

# Uncomment this to turn on verbose mode.
# DEB_VERBOSE_ALL=1
# DH_VERBOSE=1

build/foreman::
	#
	# Build the gem cache
	#
	/bin/cp config/settings.yaml.example config/settings.yaml
	/usr/bin/bundle pack --all
	/bin/rm config/settings.yaml
