Source: ruby-foreman-ansible
Section: ruby
Priority: extra
Maintainer: Daniel Lobato Garcia <elobatocs@gmail.com>
Build-Depends: debhelper, foreman (>= 1.18.0~rc1), ruby-foreman-deface (<<2.0.0),
  foreman-assets(>= 1.18.0~rc1), ruby-foreman-tasks (>= 0.8.2-2), ruby-foreman-tasks (<<1.0.0),
  ruby-foreman-remote-execution (>= 1.4.4-1), ruby-foreman-remote-execution (<<2.0.0),
  foreman-sqlite3 (>= 1.18.0~rc1)
Standards-Version: 3.9.3
Homepage: https://github.com/theforeman/foreman_ansible

Package: ruby-foreman-ansible
Architecture: all
Depends: ${misc:Depends}, bundler, foreman (>= 1.18.0~rc1),
  ruby-foreman-deface (<<2.0.0),
  ruby-foreman-tasks (>= 0.8.2-2), ruby-foreman-tasks (<<1.0.0)
Description: Foreman Ansible plugin
 Integration with Ansible in Foreman.
