Source: ruby-redfish-client
Section: ruby
Priority: optional
Maintainer: Lukas Zapletal <lzap+pub@redhat.com>
Build-Depends: debhelper (>= 11~),
               gem2deb,
               git,
               ruby-excon (>= 0.60),
               ruby-server-sent-events (>= 0.1)
Standards-Version: 4.3.0
Homepage: https://github.com/xlab-si/redfish-client-ruby
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all
Rules-Requires-Root: no

Package: ruby-redfish-client
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         ruby-excon (>= 0.60),
         ruby-server-sent-events (>= 0.1),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Simple Redfish client library
