#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PLUGIN = puppetdb_foreman
PLUGIN_HAS_ASSETS = false
PLUGIN_HAS_WEBPACK = false
PLUGIN_HAS_PACKAGE_JSON = false

include /usr/share/foreman/foreman-plugin.mk
