Source: ruby-net-ssh-krb
Section: ruby
Priority: optional
Maintainer: Adam Ruzicka <aruzicka@redhat.com>
Build-Depends: debhelper, gem2deb
Standards-Version: 3.9.5
Homepage: https://github.com/cbeer/net-ssh-kerberos
XS-Ruby-Versions: all

Package: ruby-net-ssh-krb
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby-gssapi, ruby | ruby-interpreter, ruby-net-ssh
Description: A Ruby FFI wrapper around the system GSSAPI library
