Source: katello-host-tools
Section: admin
Priority: optional
Maintainer: ATIX Team <info@atix.de>
Build-Depends: debhelper-compat (= 12),
               dh-exec,
               dh-python,
               python3-setuptools,
               python3-all
Standards-Version: 4.6.1
Homepage: https://github.com/katello/katello-host-tools

Package: katello-host-tools
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-subscription-manager
Description:
 A set of commands that support a Katello host including faster package profile uploading and bound repository reporting.

Package: katello-host-tools-tracer
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, katello-host-tools
Description:
 Adds Tracer functionality to a client managed by katello-host-tools.
