Source: ruby-smart-proxy-openbolt
Section: ruby
Priority: optional
Maintainer: Tim <tim@bastelfreak.de>
Build-Depends: debhelper-compat (= 13), gem2deb (>= 1), rake
Standards-Version: 4.5.0
Homepage: https://github.com/overlookinfra/smart_proxy_openbolt
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all
Rules-Requires-Root: no

Package: ruby-smart-proxy-openbolt
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby-concurrent (>= 1.1.6), ruby-concurrent (<< 2.0.0), ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, foreman-proxy (>= 1.15.0~rc1)
Description: Smart Proxy plugin for OpenBolt integration
 Uses the OpenBolt CLI tool to run tasks and plans in Foreman
